{% extends "base.html" %}

{% block head_title %}Restaurants || {{ block.super }}{% endblock %}

{% block content %}
<h1>My Restaurants <small><a href="{% url 'restaurants:create' %}">Add New</a></small> </h1>
{% for obj in object_list %}
    <li>
        <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
        <br/>
        {{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}
    </li>
{% empty %}
<li><a href="{% url 'restaurants:create' %}">Add One</a></li>
{% endfor %}
{% endblock content %}
