{% extends "base.html" %}

{% block head_title %} {{ user.username }} || {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>
<hr/>
{% if user.item_set.all.exists %}
    {% for rest in user.restaurantlocation_set.all %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <h4>{{ rest.title }}</h4>
                    <p>{{ rest.location }} || {{ rest.category }}</p>
                    <ul>
                        {% for item in rest.item_set.all %}
                            <li style=""><b>{{ item.name }}</b><br/>
                                {{ item.contents }} <br/>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
    {% endfor %}
{% else %}
<p class="lead">No Items Found</p>
{% endif %}
{% endblock content %}
