{% extends "base.html" %}

{% block head_title %}{{ form.instance.name }} || Item || {{ block.super }}{% endblock %}

{% block content %}

<h1>{{ form.instance.name }}</h1>
<p>Location: {{ form.instance.restaurant.name }}</p>
<a href="{{ form.instance.get_absolut_url }}">{{ form.instance.name }}</a>
<br/>
{% if form.instance.contents %}
Contents
<ul>
    {% for item in form.instance.get_contents %}
    <li>
        {{ item }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if form.instance.excludes %}
Excludes
<ul>
    {% for item in form.instance.get_excludes %}
    <li>
        {{ item }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<p>{{ form.instance.timestamp }}, Updated {{ form.instance.updated|timesince}} ago</p>

<hr/>
<h3>Make changes</h3>
{% include 'snippets/form_snippet.html' with form=form %}

{% endblock content %}
