{% extends "base.html" %}

{% block head_title %}{{ title }} || {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}
<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="button">Save</button>
</form>
{% endblock content %}
<!-- <input type="text" name="name" placeholder="Your Title..."> <br/>
<input type="text" name="location" placeholder="Your Location..."> <br/>
<input type="text" name="category" placeholder="Your Category..."> <br/> -->
